div.jumbotron {
    text-align: center;
}

.lead {
    margin: auto;
}

.btn{
    margin-top: 15px;
}

h1 {
    text-align: center;
}

.card {
    margin-top: 30px;
    padding: 15px;
}

.row {
    padding: 50px;
}