div.jumbotron {
    text-align: center;
    background-color: #64D3B9;
    color: white; 
}

.lead {
    margin: auto;
}

.btn{
    margin-top: 15px;
    background-color:gainsboro; 
}

h1 {
    text-align: center;
}

.card {
    margin-top: 30px;
    padding: 15px;
    
}

.row {
    padding: 50px;
}

div.navbar {
    background-color: orange;
}

.col {
    padding: 20px;
}